form {
    position:absolute;
    right: 35vh;
    top:10vh;
}

.wall { 
    overflow:hidden;
    position: absolute;
    width: 70vw;
    height: 100vh;
    border: 1px solid #E08BA8;
    background-color: #FF4E8A;
}

.circle {
    overflow:hidden;
    position: absolute;
    width:400px;
    height:400px;
    border: 1px solid #CC2F64;
    border-radius: 50%;
    background-color:#FF3B7D;
    z-index: 1;
}

.logo { 
    width:30vh;
    height:auto;
  }

.userSection {
    display:flex;
    flex-direction:column;
    width:30vh;

    font-size:24px;
    list-style-type:none;
    
}
.userSection li {
    display:inline-flex;
    margin:10px;
    
}


.userSection li .inputfield {
    min-width:300px;
    justify-content: flex-end;
}



.inputfield {
    width:25vh;
    height: 4vh;
    box-shadow: 2px 3px 5px #888888;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 18px;
}

.inputfield:focus {
    border: 1px solid #fff;
}

.loginbutton { 
    border: 1px solid #000;
   
    margin: 20px;
    padding: 10px;
    font-size:18px;
    background-color: #fff;
}

.loginbutton:hover {
    background-color:#FF4E8A;
    border: 1px solid #CC3E6E;
    color:#fff;
}

.registerlink { 
    font-size:15px;
    margin: 20px;
    margin-bottom:15px;
    text-align: center;
}