.edit-form { 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.edit-message { 
    font-size: 60px;
}

.edit { 
    width: 30vw;
    height: auto;
    
    
    margin-top: 30px; 
    margin-bottom: 30px;
    background-color: #EDEDEE;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.edit-imagebutton {
    align-self: center;
    margin-bottom: 10px;
    font-size:24px;
}

.edit-content {
    margin: 30px;
    font-size: 24px;  
    display:flex;
    flex-direction: column;
    justify-content: center;  
}


.line { 
    list-style-type: none;
}

.form-label {
    margin-right:10px;
}

.edit-caption {
    margin-top:20px; 
    padding: 20px;

    font-size:24px;
    border:none;

}