form {
    width: 100%;
 
  }





.edit-form { 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.edit-message { 
    font-size: 60px;
}

.edit { 
    width: auto;
    height: auto;
    
    
    margin-top: 30px; 
    margin-bottom: 30px;
    background-color: #EDEDEE;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex:1;
}
.edit-imagebutton {
    align-self: center;
    margin-bottom: 10px;
    font-size:24px;
}

.edit-content {
    
    font-size: 24px;  

}

.preview-profile { 

    margin: 30px;
    object-fit: cover;
    width: 500px;
    height:500px;
    border-radius: 50%;
}
.line { 
    list-style-type: none;
    display: flex;

    flex-direction: column;
 

}

.line label {
    text-align: left;
    
}
.line input {
    flex:0.8;
    width:80%;
    margin-bottom:20px;
}

.line textarea { 
    width:80%;
    font-size:16px;
}
.form-label {
    margin-right:10px;
}

.edit-caption {
    margin-top:20px; 
    padding: 20px;

    font-size:24px;
    border:none;

}