.main-content { 
  z-index: 2;
   
}

.feed { 
    width: 30vw;
    height: auto;
    margin: 30px;
    
    background-color: #EDEDEE;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.feed-content {
    margin: 30px;
    font-size: 24px;    
}

.feed-image { 
    width: 100%;
    height: auto;
}