
.lwall { 
    position: absolute;
    width: 80vw;
    height: 100vh;
    border: 1px solid #E08BA8;
    background: linear-gradient(140deg, #FF9F8E, #FFC5BB);
    background-repeat: no-repeat;
    overflow: hidden;
}


.loginform {
    position:absolute;
   
    top:8vh;
    user-select: auto;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}


.userSection li {
    display:inline-flex;
    margin:10px;
    
}


.userSection li .inputfield {
    min-width:300px;
    justify-content: flex-end;
}


.inputfield {
    width:25vh;
    height: 4vh;
    box-shadow: 2px 3px 5px #888888;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 18px;
}

.inputfield:focus {
    border: 1px solid #fff;
}

.loginbutton { 
    border: 1px solid #000;
    text-align:center;
    vertical-align: middle;
    
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:18px;
    background-color: #fff;
    outline: 0;
    color:#000;
}

.loginbutton:hover {
    background-color:#FF4E8A;
    border: 1px solid #CC3E6E;
    color:#fff;
    text-decoration: none;
}

.loginbutton:link { 
    text-decoration: none;
}
.loginbutton:visited { 
    text-decoration: none;
}
.loginbutton:active { 
    text-decoration: none;
}


.registerlink { 
    font-size:15px;
    margin: 20px;
    margin-bottom:15px;
    text-align: center;
}

.llogo { 
    margin-top:150px;
    align-self:center;
    opacity: 0.5;
    font-size:150px;
}

.llogo-font {
    font-size:36px;
    align-self:center;
}

.login-message {
    position:absolute;
    right: 35vh;
    top:40vh;
}
.redirectbutton {
    position: absolute;
    right: 25vw;
    top: 50vh;
    font-size: 24px;
}
.redirectbutton2 {
    position: absolute;
    right: 20vw;
    top: 50vh;
    font-size: 24px;
}

